<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="todolist">
            <h2>Lista zadań</h2>
                <form action="/todolistadd" method="GET">
                    <input type="text" name="task_todos" placeholder="Wpisz zadanie">
                    <input type="submit" value="Dodaj zadanie"/>

                </form>

             {{#each results}}
                {{task}}
             {{/each}}

        </div>
        <div class="notes">
            <h2>Notatki</h2>
            <form action="/notesadd" method="GET">
                <input type="text" name="note" placeholder="Wpisz notatkę">
                <input type="submit" value="Dodaj notatkę">
            </form>

        </div>
        <div class="api">
            <h2>Pogoda</h2>

        </div>
    </div>
</body>
</html>